:root {
    --cinza: #f8f8fa;
    --laranja: #bd4b0d;
    --laranja-opacidade: #bd4b0da9;
    --amarelo: #eda92a;
    --laranja-claro: #d94f04;
    --amarelo-claro: #fabe4e;
    --verde-agua: #007172;
}

.btn-pagina {
    all: unset;
    color: #fff;
    transition: .2s;
}

.ativo {
    background-color: var(--laranja);
}
.inativo{
    background-color: var(--laranja-opacidade);
}
.ativo:hover{
    background-color: var(--laranja-claro);
}

.inativo:hover{
    background-color: var(--laranja);
}
.inativo:hover .ativo{
    background-color: rebeccapurple;
}
.page-container{
    border-top: 2px solid var(--laranja);
}
.btn-sair{
    all: unset;
    background-color: #FF0000;
    color: #fff;
    box-shadow: 0 2px 5px #00000054;
    transition: .2s;
}
.btn-sair:hover{
    background-color: #cc0202;
    box-shadow: 0 2px 10px #00000081;
}
.btn-sair:active{
    background-color: #FF0000;
}

.txt-laranja{
    color: var(--laranja-claro);
}
.candidato-nome{
    color: var(--verde-agua);
}

.explorar-vagas{
    color: var(--verde-agua);
    text-decoration: underline !important;
}
.explorar-vagas:hover{
    filter: brightness(.8);
}